/*  Question 1
.nevbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
} */
.box1{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: flex;
}
.box2{
    height: 100px;
    width: 100px;
    background-color:  red;
}