*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
}
.logo{
    font-size: 25px;
    color: #f08804;
}
.button{
    background-color: #f08804;
}
a{
    text-decoration: none;
    margin-right: 150px;
    color: white;
}
.container{
    height: 100px;
    width: 100px;
    border: 2px dotted black;
    display: inline-block;
}
footer{
    height: 40px;
    line-height: 40px;
    background-color: #0f1111;
    color: white;
    text-align: center;

}
